* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}
#volume-booster-visusalizer{
    display: none !important;
}
.side-nav {
  width: 50px;
  min-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.side-nav::-webkit-scrollbar {
  display: none;
}
.side-nav {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sideNav1 {
  height: 15%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.sideNav1 img {
  width: 20px;
  height: 20px;
  padding: 3px;
  /* gap: 15px; */
  /* margin-top: 15px !important; */
  margin: auto;
}
.sideNav2 {
  /* height: 70%; */
  flex: 1;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.active {
  background-color: #aeb400;
  border-radius: 8px;
  /* color:white ; */
  filter: invert(100%);
  padding: 7px;
}
.sideNav2 img {
  width: 20px;
  height: 20px;
  /* margin: auto; */
  /* padding: 3px; */
  gap: 15px;
  margin: 5px auto;
}
.sideNav3 {
  height: 15%;
  min-height: 100px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
}
.sideNav3 img {
  width: 20px;
  height: 20px;
  padding-bottom: 20px;
  gap: 15px;
  margin: 5px auto;
}
.panel-wrapper {
  width: calc(100vw - 50px);
  height: 100vh;
  display: flex;
  background-color: rgb(241, 244, 244);
  overflow: scroll;
}
.panel-wrapper::-webkit-scrollbar {
  display: none;
}
.panel-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.first-panel {
  width: 27%;
  height: 100%;
  /* background-color: rgb(241, 244, 244); */
}
.second-panel {
  width: 46%;
  height: 100%;
  /* background-color: #aeb400; */
}
.third-panel {
  width: 27%;
  height: 100%;
  /* background-color: rgb(245, 245, 245); */
}
.panel1-1 {
  display: flex;
  gap: 10px;
  width: calc(100% - 40px);
  height: auto;
  /* justify-content: center; */
  align-items: center;
  padding: 25px 20px;
}
.panel1-1 img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 5px;
}
.panel1-1-name h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  font-weight: 500;
}
.panel1-1-name span {
  color: grey;
}
.panel1-2 {
  width: calc(100% - 40px);
  padding: 20px 20px;
}
.panel1-2 span {
  font-weight: 600;
}
.panel1-2-1 {
  margin-top: 20px;
}
.panel1-2-1 span {
  color: grey;
  font-size: smaller;
}
.panel1-2-2-1 h1 {
  font-size: 18px;
  margin-top: 20px;
}
.panel1-2-2-2 h1 {
  font-size: 18px;
  margin-top: 20px;
}
.panel1-2-2-1 span {
  color: grey;
  font-size: smaller;
}
.panel1-2-2-2 span {
  color: grey;
  font-size: smaller;
}
.button {
  width: fit-content;
  padding: 15px 20px;
  margin: 15px 0;
  border-radius: 10px;
  background-color: #514bff;
  color: white;
  text-align: center;
}
.panel1-3 {
  width: calc(100% - 40px);
  padding: 20px 20px;
}
.panel1-3 div {
  font-weight: 600;
  margin-bottom: 5px;
}
.transactions {
  border-bottom: 2px solid gray;
  padding: 20px 0;
  /* margin-right: 5px; */
  width: fit-content;
  margin-bottom: 0;
}
.transactions span {
  color: gray;
}
.transactions div {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 12px;
}
.panel2-1 {
  width: calc(100%-40px);
  padding: 25px 20px;
}
.panel2-1-1 span {
  color: #514bff;
  font-size: 16px;
  font-weight: 600;
}
.panel2-1-1 h1 {
  font-size: 24px;
}
.panel2-1-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.segment {
  width: 30%;
  border-bottom: 2px solid #514bff;
  padding: 10px 0;
}
.segment span {
  color: gray;
  font-size: 12px;
  font-weight: bold;
}
.panel2-2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.panel-heading {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 20px;
}
canvas {
  margin: auto;
  width: 90% !important;
  height: auto !important;
}
.panel2-3{
    margin-top: 20px;
}
.head {
  width: 100%;
}
.head h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 20px;
}
.head span{
    font-size: 12px;
    font-weight: 600;
    color: gray;
    padding: 5px 20px;
}
.panel2-3-2{
    padding: 25px 20px;
    display: flex;
    align-items: center;
}
.left{
    width: 40%;
}
.left-1{
    font-size: 14px;
    font-weight: bold;
    color: rgb(102, 102, 102);
    display: flex;
    padding: 5px 0;
}
.left-1 span{
    font-size: 14px;
    color: gray;
    padding: 0px 8px;
}
.right{
  /* background-color: aquamarine; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.progress-wrapper{
  width: 30% ;
  aspect-ratio: 1/1;
  padding: 0;
  margin: 0;
}
.progress-bar-1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* aspect-ratio: 1/1; */
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#78f1c9 78%, #d2fff0 0);    
}
.progress-bar-1::before {
  content: "78%";
}
.progress-bar-2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* aspect-ratio: 1/1; */
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#78f1c9 95%, #d2fff0 0);    
}
.progress-bar-2::before {
  content: "95%";
}
.progress-bar-3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* aspect-ratio: 1/1; */
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#78f1c9 59%, #d2fff0 0);    
}
.progress-bar-3::before {
  content: "59%";
}