* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

.side-nav {
  width: 50px;
  min-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.side-nav::-webkit-scrollbar {
  display: none;
}
.side-nav {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sideNav1 {
  height: 15%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.sideNav1 img {
  width: 20px;
  height: 20px;
  padding: 3px;
  /* gap: 15px; */
  /* margin-top: 15px !important; */
  margin: auto;
}

.sideNav2 {
  /* height: 70%; */
  flex: 1;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.active {
  background-color: #aeb400;
  border-radius: 8px;
  /* color:white ; */
  filter: invert(100%);
  padding: 7px;
}

.sideNav2 img {
  width: 20px;
  height: 20px;
  /* margin: auto; */
  /* padding: 3px; */
  gap: 15px;
  margin: 5px auto;
}

.sideNav3 {
  height: 15%;
  min-height: 100px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
}

.sideNav3 img {
  width: 20px;
  height: 20px;
  padding-bottom: 20px;
  gap: 15px;
  margin: 5px auto;
}

.panel-wrapper {
  width: calc(100vw - 50px);
  height: 100vh;
  display: flex;
  background-color: rgb(241, 244, 244);
  overflow: scroll;
}
.panel-wrapper::-webkit-scrollbar {
  display: none;
}
.panel-wrapper{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.first-panel {
  width: 27%;
  height: 100%;
  /* background-color: rgb(241, 244, 244); */
}
.second-panel {
  width: 46%;
  height: 100%;
  background-color: #aeb400;
}
.third-panel {
  width: 27%;
  height: 100%;
  /* background-color: rgb(245, 245, 245); */
}

.panel1-1 {
  display: flex;
  gap: 10px;
  width: calc(100% - 40px);
  height: auto;
  /* justify-content: center; */
  align-items: center;
  padding: 25px 20px;
}
.panel1-1 img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 5px;
}

.panel1-1-name h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  font-weight: 500;
}
.panel1-1-name span {
  color: grey;
}

.panel1-2 {
  width: calc(100% - 40px);
  padding: 20px 20px;
}
.panel1-2 span {
  font-weight: 600;
}

.panel1-2-1 {
  margin-top: 20px;
}

.panel1-2-1 span {
  color: grey;
  font-size: smaller;
}

.panel1-2-2-1 h1 {
  font-size: 18px;
  margin-top: 20px;
}
.panel1-2-2-2 h1 {
  font-size: 18px;
  margin-top: 20px;
}
.panel1-2-2-1 span {
  color: grey;
  font-size: smaller;
}
.panel1-2-2-2 span {
  color: grey;
  font-size: smaller;
}

.button {
  width: fit-content;
  padding: 15px 20px;
  margin: 15px 0;
  border-radius: 10px;
  background-color: #514bff;
  color: white;
  text-align: center;
}

.panel1-3 {
  width: calc(100% - 40px);
  padding: 20px 20px;
}

.panel1-3 div {
  font-weight: 600;
  margin-bottom: 5px;
}

.transactions {
  border-bottom: 2px solid gray;
  padding: 20px 0;
  /* margin-right: 5px; */
  width: fit-content;
  margin-bottom: 0;
}

.transactions span {
  color: gray;
}

.transactions div {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 12px;
  
}
